body{
    background-color: yellow;
    font-size: 16px;
}
header{ 
    background-color: #fff;
    padding: 1rem;
}
#overlay{
    width: 100vw;
    height:100vh;
    background-color: green;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    visibility: hidden;
    &.active{
        visibility: visible;
        width: 100vw;
        height: 100vh;
    }
}