body {
	margin: 0;
	font-family: "Anton", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: whitesmoke;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

/*my css stuff*/

/* App.jsx */
.app {
	/* background-image: url(../media/perfect-Imperfections.jpg);
  background-size: cover; */
	/* border: green solid 5px; */
	height: 100vh;
	color: black;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.content {
	height: 92vh;
	/* border: tan solid 5px; */
	/* background-image: url(https://s3.us-east-2.amazonaws.com/canvasyourhome.art/images/customer+with+merch.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%; */
	background-position: center;
}
.title {
	color: blue;
	/* border: yellow solid 5px; */
	display: flex;
	flex-direction: column;
	/* justify-content: space-around; */
	align-items: center;
}
/*Welcome page component */
/* .WelcomePage-Container {
	height: 93vh;
	width: 99vw;
	border: deepskyblue dashed 5px;
} */
.WelcomePage-Main {
	width: 100%;
	height: 100%;
}
.WelcomePage-Slogan {
	font-family: "Anton", sans-serif;
	width: 100%;
	height: 100%;
	background-color: rgb(251, 251, 251);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.WelcomePage-Buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 10;
	height: 100%;
}
.WelcomePage-Buttons a:first-of-type {
	margin-left: 125px !important;
}

/* for the artwork page*/
.canvas {
	min-width: 250px;
	height: 200px;
	flex: 1;
	flex-grow: 1;
	border: black double 5px;
	position: relative;
}
img {
	max-height: 100%;
	max-width: 100%;
}
img#art {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.artContianer {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
}
/* .artContainer {
  border: green solid 5px;
} */
.art {
	height: 50vh;
	width: 50vw;
	/* border: yellow solid 5px; */
}
/*Artist Bio Page */
#artist-L1-main {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	/* border: purple solid 5px; */
}
#artist-L2-artist-info {
	/* border: red solid 5px; */
	display: flex;
	flex-direction: row;
}
#artist-L3-pic {
	height: 90vh;
	width: 40%;
	background-image: url(https://s3.us-east-2.amazonaws.com/canvasyourhome.art/images/the+artist.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}
#artist-L3-contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	padding: 10px;
}
#artist-L2-bio {
	height: 100vh;
	width: 100vw;
}

/*main page css*/
.MainPage {
	color: black;
	text-align: center;
	/* border: red solid 5px; */
	width: 100vw;
	height: 100vh;
	/* background: url("../media/perfect-Imperfections.jpg") no-repeat center center
  fixed;
	background-size: cover; */
}
/* featured art section*/
.FeaturedArt-Main {
	height: 93vh;
	width: 100vw;
	/* border: orange solid 5px; */
	display: flex;
}
.FeaturedArt-Child1 {
	height: 50%;
	width: 50%;
	/* border: orange solid 5px; */
}
.FeaturedArt-Child2 {
	height: 50%;
	width: 50%;
	/* border: orange solid 5px; */
}
.Artwork-Button {
	background-image: url(https://s3.us-east-2.amazonaws.com/canvasyourhome.art/images/fly+nipsey+husstle.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	/* ` */
}
.Merch-Button {
	background-image: url(https://s3.us-east-2.amazonaws.com/canvasyourhome.art/images/customer+with+merch.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
}
